extends ../layout/main

block variables
    - var title = 'Home page'
    - var currentPage = 'home'

block content
    .container
        h2 #{title}
        p Lorem ipsum #[a(href="#") dolor], sit amet consectetur adipisicing elit. Vitae aperiam quidem dicta esse consequatur voluptate commodi natus quae consequuntur, doloribus voluptatem, a illo laudantium incidunt quam laborum facilis numquam repellendus.
